In [73]:
import pandas as pd
import glob
import os

## Import CSV Data From all Months and Concatinate

In [75]:
# find all csv files
all_files = glob.glob(os.path.join("Resources", "*.csv"))

# concatinate the csv files
cycledatadf = pd.concat((pd.read_csv(f) for f in all_files))
cycledatadf.head()

/Users/rebeccawarren/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

,Unnamed: 0,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,NaN,25577,1980,366.0,40.693261,-73.968896,Clinton Ave & Myrtle Ave,1,252.0,40.732264,-73.998522,MacDougal St & Washington Sq,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,1635,Subscriber
1,NaN,34377,1969,3242.0,40.691029,-73.991834,Schermerhorn St & Court St,0,314.0,40.693830,-73.990539,Cadman Plaza West & Montague St,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,132,Subscriber
2,NaN,30496,1975,3384.0,40.678724,-73.995991,Smith St & 3 St,1,3142.0,40.761227,-73.960940,1 Ave & E 62 St,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3337,Subscriber
3,NaN,28866,1984,3690.0,40.713342,-74.009355,Park Pl & Church St,2,308.0,40.713079,-73.998512,St James Pl & Oliver St,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,436,Subscriber
4,NaN,20943,1994,380.0,40.734011,-74.002939,W 4 St & 7 Ave S,1,345.0,40.736494,-73.997044,W 13 St & 6 Ave,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,8457,Customer

In [76]:
cycledatadf.count()

Unnamed: 0                  1975789
bikeid                     17546951
birth year                 17546951
end station id             17545842
end station latitude       17546951
end station longitude      17546951
end station name           17545842
gender                     17546951
start station id           17545842
start station latitude     17546951
start station longitude    17546951
start station name         17545842
starttime                  17546951
stoptime                   17546951
tripduration               17546951
usertype                   17546951
dtype: int64

## Summarise Annual Data by Month and Add Weather Data

In [77]:
# Add month and year column
cycledatadf["Year"] = pd.DatetimeIndex(cycledatadf["starttime"]).year
cycledatadf["Month"] = pd.DatetimeIndex(cycledatadf["starttime"]).month

In [78]:
# Count monthly rides
monthcount = cycledatadf["Month"].value_counts()
monthcountdf = monthcount.to_frame()
monthcountdf.rename(columns = {'Month':'Count'}, inplace = True)

In [79]:
# Create trip duration column
tripduration = []
for x in range(12):
    monthlydata = cycledatadf.loc[cycledatadf["Month"] == (x+1)]
    meantriplength = monthlydata["tripduration"].mean()
    tripduration.append([x+1,meantriplength])
tripdurationdf = pd.DataFrame(tripduration, columns = ['Month', 'Avg Trip Duration'])
tripdurationdf.set_index("Month", inplace = True)

In [80]:
# Read weather data
weatherdf = pd.read_csv("weather.csv", index_col ='Index')

In [81]:
#merge the monthly data into one Dataframe
monthlydata1 = pd.concat([tripdurationdf, monthcountdf], axis=1)
monthlydata = pd.concat([monthlydata1, weatherdf], axis=1)
monthlydata.to_csv("Resources/monthly-data-weather.csv", header = "true")

## Create New August File

In [82]:
augustdf = pd.read_csv("Resources/201808-citibike-tripdata.csv") 
augustdf.head()

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,681,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.783400,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1
1,1,625,2018-08-01 00:00:19.7480,2018-08-01 00:10:45.0290,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,25938,Subscriber,1969,1
2,2,1319,2018-08-01 00:00:21.1750,2018-08-01 00:22:20.6370,403.0,E 2 St & 2 Ave,40.725029,-73.990697,285.0,Broadway & E 14 St,40.734546,-73.990741,28679,Subscriber,1970,1
3,3,220,2018-08-01 00:00:26.4700,2018-08-01 00:04:06.8190,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,28075,Subscriber,1982,1
4,4,398,2018-08-01 00:00:30.2910,2018-08-01 00:07:09.2810,3662.0,31 Ave & Steinway St,40.761294,-73.916917,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,25002,Subscriber,1987,1

In [83]:
augustdf.count()

Unnamed: 0                 1975789
tripduration               1975789
starttime                  1975789
stoptime                   1975789
start station id           1975789
start station name         1975789
start station latitude     1975789
start station longitude    1975789
end station id             1975789
end station name           1975789
end station latitude       1975789
end station longitude      1975789
bikeid                     1975789
usertype                   1975789
birth year                 1975789
gender                     1975789
dtype: int64

In [85]:
augustdf2 = augustdf.dropna(axis=0, how='any')

In [86]:
augustdf2.head()

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,681,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.783400,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1
1,1,625,2018-08-01 00:00:19.7480,2018-08-01 00:10:45.0290,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,25938,Subscriber,1969,1
2,2,1319,2018-08-01 00:00:21.1750,2018-08-01 00:22:20.6370,403.0,E 2 St & 2 Ave,40.725029,-73.990697,285.0,Broadway & E 14 St,40.734546,-73.990741,28679,Subscriber,1970,1
3,3,220,2018-08-01 00:00:26.4700,2018-08-01 00:04:06.8190,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,28075,Subscriber,1982,1
4,4,398,2018-08-01 00:00:30.2910,2018-08-01 00:07:09.2810,3662.0,31 Ave & Steinway St,40.761294,-73.916917,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,25002,Subscriber,1987,1

In [87]:
weatherdfd2.to_csv("Resources/201808-citibike-tripdata.csv", index = "false", header = "true")